<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">

<meta name="author" content="">
<title>Snag Management System - L&T</title>
<script src="/lib/jquery/jquery.min.js"></script>

<!-- Bootstrap core CSS-->
<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<!-- Custom fonts for this template-->
<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- Custom styles for this template-->
<link href="/lib/boostrap/css/main.css" rel="stylesheet">
<link href="/lib/boostrap/css/sb-admin.css" rel="stylesheet">

<!-- Page level plugin CSS-->
<link href="/lib/datatables/dataTables.bootstrap4.css" rel="stylesheet">