<% layout('layout') -%>

<% if(user) { %>
<div class="container">
    <div class="card card-register mx-auto mt-6">
      <div class="card-header">Add a New Parts</div>
      <div class="card-body">
        <form name="addPartsForm" action="/parts/add" method="post" id="addPartsForm" onSubmit="return true;">
        
          <div class="form-group">
            <div class="form-row">
              <% if(status && status == "partsAlreadyExist") { %>
               <label style="color:red">This Parts Already Exist. Try different parts.</label>
              <% } %>
              <% if(status && status == "success") { %>
               <label style="color:green">Parts Successfully Added!</label>
              <% } %>
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputPartName">Part Name</label>
            <input class="form-control" id="partname" name="partname" type="text" aria-describedby="PartNameHelp" required>
          </div>
          <button class="btn btn-primary btn-block" type="Submit">Submit</button>
        </form>
      </div>
    </div>
</div>
<% } %>

