<% layout('layout') -%>

<% if(user) { %>
<div class="container">
    <div class="card card-register mx-auto mt-6">
      <div class="card-header">Add a new Mobile User Account</div>
      <div class="card-body">
        <form name="addUserMobileForm" action="/userMobile/add" method="post" id="addUserMobileForm" onSubmit="return true;">
        
          <div class="form-group">
            <div class="form-row">
              <% if(status && status == "userAlreadyExist") { %>
               <label style="color:red">This username already exist. Try different username.</label>
              <% } %>
              <% if(status && status == "success") { %>
               <label style="color:green">User Successfully Added!</label>
              <% } %>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName">First Name</label>
                <input class="form-control" id="firstName" name="firstName" type="text" aria-describedby="nameHelp" placeholder="Enter first Name" maxlength="20" required>
              </div>
              <div class="col-md-6">
                <label for="exampleInputLastName">Last Name</label>
                <input class="form-control" id="lastName" name="lastName" type="text" aria-describedby="nameHelp" placeholder="Enter last Name" maxlength="20" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <label for="exampleInputUserType">User Type</label>
              <select name="userType" id="userType" class="form-control">
                <option value="inspector 1">Inspector 1</option>
                <option value="function operator">Function Operator</option>
                <option value="inspector 2">Inspector 2</option>
                <option value="inspector 3">Inspector 3</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputUserName">UserName</label>
            <input class="form-control" id="userName" name="userName" type="text" aria-describedby="UserNameHelp" readonly="readonly" required>
          </div>
          <div class="form-group">
            <div class="form-row">
                <label for="exampleInputPassword1">Password</label>
                <input class="form-control" id="password" name="password" type="text" readonly="readonly" required>
              </div>
            </div>
          </div>
          <button class="btn btn-primary btn-block" type="Submit">Register</button>
        </form>
      </div>
    </div>
</div>
<% } %>

<script>
function createUserName()  {
  var firstName = $('#addUserMobileForm input[name=firstName]').val().substring(0,1).toLowerCase();
  var lastName = $('#addUserMobileForm input[name=lastName]').val().substring(0,1).toLowerCase();
  var chars = "0123456789";
  var string_length = 4;
  var randomString = '';
  for (var i=0; i<string_length; i++) {
    var rnum = Math.floor(Math.random() * chars.length);
    randomString += chars.substring(rnum,rnum+1);
  }
  var userName = firstName + lastName + randomString;
  $('#addUserMobileForm input[name=userName]').val(userName);

  generatePassword();
}

$('#addUserMobileForm input[name=firstName]').on('keyup', createUserName);
$('#addUserMobileForm input[name=lastName]').on('keyup', createUserName);


function generatePassword() {
    var chars = "0123456789abcdefghiklmnopqrstuvwxyz";
    var string_length = 6;
    var randomstring = '';
    for (var i=0; i<string_length; i++) {
      var rnum = Math.floor(Math.random() * chars.length);
      randomstring += chars.substring(rnum,rnum+1);
    }
    document.addUserMobileForm.password.value = randomstring; 
}
</script>