<!DOCTYPE html>
<html lang="en">
<head>
    <% include templates/cssHead.ejs%>
</head>

<body>

<% include templates/navbar.ejs%>


<!-- Insert Body here -->
<div class="container">

    <div class="starter-template">
        <%- body %>
    </div>

</div><!-- /.container -->
<% include templates/footer.ejs%>

<% include templates/jsHead.ejs%>

</body>
</html>