<% layout('layout') -%>

<div class="sign">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" action="/login" method="post">
            <span id="reauth-username" class="reauth-username"></span>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form><!-- /form -->
    </div><!-- /card-container -->
</div>

<style>
    body{
        height: 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
    }
    @media (min-width: 992px) {
  footer.sticky-footer {
   width: calc(100%);
  }
}
@media (min-width: 992px) {
  body.sidenav-toggled footer.sticky-footer {
    width: calc(100%);
  }
}

</style>