<% layout('layout') -%>

<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active"><a href="/machineCategory/list">Machine Category Table</a></li>
      </ol>
	<div class="card mb-3">
	    <div class="card-header">
	    	<i class="fa fa-table"></i>Machine Category Table</div>
	        <div class="card-body">
	        	<div class="table-responsive">
                    <form>
    	        		<% if (response && response.machineCategorys && response.machineCategorys.length>0) { %>
    	            	<table class="table table-busered" id="dataTable" width="100%" cellspacing="0">
    	              		<thead>
    	                		<tr>
                                    <th></th>
    	                  			<th>Machine Category</th>
    	                  		</tr>
    	              		</thead>
    	              		<tbody>
    	              			<% response.machineCategorys.forEach( function( machineCategory ){ %>
    	              			<tr>
                                    <td>
                                        <input type="button" data-id="<%=machineCategory.id %>" data-toggle="modal" data-target="#deleteModal"  class="open-DeleteDialog btn btn-warning" value="Delete"/>
                                        &nbsp;&nbsp;&nbsp;
                                        <!--Update function<input type="button" class="updateButton btn btn-secondary" data-id="<%=machineCategory.machineCategory %>" value="Update"> --> 
                                    </td>
                                    <td>
                                        <%=machineCategory.machineCategory %>
                                    </td>
                                </tr>
                                
                                <% }); %>
                        	</tbody>
                        </table>
                       	<% } else{%>
                        <h2>No Record Found.</h2>
                        <% } %>
                    </form>
                </div>
                <!-- Delete Modal-->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <div class="modal-body">Are you sure you want to delete this record ?  
                      <input type="hidden" name="machineCategoryLabel" id="machineCategoryLabel" />     </div>
                      
                      <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-danger"  type="button" onClick="deleteRecord()" data-dismiss="modal">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
$(document).ready(function () {
    // Update function script
    // $(".updateButton").click(function() {
    //     var machineCategory = $(this).data('id');
    //     window.location.replace("/machineCategory/update/" +machineCategory);
    // });
    
     $(".open-DeleteDialog").click(function () {
          $('.modal-body #machineCategoryLabel').val($(this).data('id'));
          console.log('....'+  $('#machineCategoryLabel').val());
    });

});


function deleteRecord(){

    console.log('....'+  $('#machineCategoryLabel').val());
    var objectId = $('#machineCategoryLabel').val();

    $.ajax({
        url: 'http://localhost:3001/machineCategory/delete/' + objectId,
        type: 'DELETE',
        success: function(data) {
            console.log(data);
            if(data.status == "success"){
                location.reload();
            }
            else if(data.status == "noMachineCategoryFound") {
                alert("Could not Find the Machine Category");
            }

        }
    });       
}

</script>

